body{
	font: normal 16px Questrial, sans-serif;
	background:#FFF;
    color: #0C2D52;
    margin:0 auto;
	}

/*//////Start Fonts//////*/
h1{
	font-size:3em;
    font-weight: normal;
	}
h2{
    font: 300 22px Questrial;
    line-height: 29px;
    letter-spacing: 2px;
    color: #4a90e2;
    }
h3{
    
    }
h4{
    
    }
p{
    font:300 15px Muli;
    letter-spacing: 1.27px;
    line-height: 20px;
    color: #12191F;
    }

a{
	color:black;
	text-decoration:none;
	}

/*Start highlight colors*/
::-moz-selection { 
    background-color: #FF3333; 
    color: #FFFFFF;
    }
::selection {
    background-color: #FF3333; 
    color: #FFFFFF;
    }
/*End highlight colors*/
/*//////End Fonts//////*/

/*//////Start Container//////*/
.container{
	display:inline-block;
	margin-top:58px;
	width:100%;
	}
/*//////End Container//////*/

/*//////Start Sections//////*/
.row100{
	width:100%;
	display:inline-block;
	}
.row90{
    width:90%;
    padding:5%;
    display: inline-block;
    }
.row85{
    width:85%;
    padding:7.5%;
    display: inline-block;
    }
.row80{
    width:80%;
    padding:10%;
    display: inline-block;
    }
.row75{
    width:75%;
    padding:10% 15%;
    display: inline-block;
    }
/*//////End Sections//////*/


/*//////Start Grid//////*/
.half{
	width:46%;
	margin:1%;
	padding:1%;
	float:left;
	}
.third{
	width:29.33%;
	margin:1%;
	padding:1%;
	float:left;
	}
.fourth{
	width:21%;
	margin:1%;
	padding:1%;
	float:left;
	}
.half img, .third img, .fourth img{
	width:100%;
	}
/*//////End Grid//////*/


/*//////Start Nav//////*/
header{
	width:94%;
	padding:40px 3%;
	position:absolute;
	top:0;
	left:0;
	background-color:white;
	text-align:right;
	letter-spacing: 1px;
	}
nav{
    width: 33.33%;
    float: left;
    text-align: left;
    }
nav a{
    margin-right:30px;
	}	
nav a:last-child{
    margin-right:0px;
	}
.logo{
    width: 33.33%;
    float: left;
    text-align: center;
    }
.logo h1{
    display:inline;
    font-size: 25px;
    letter-spacing: .2px;
    }
.logo h1 span{
    color: #4A90E2;
    }
.social{
    width: 33.33%;
    float: right;
    text-align: right;
    }
.social a{
    font-size: 20px;
    margin-right: 20px;
    }
.social a:hover{
    color: #4A90E2;
    transition: .3s all ease-in-out;
    }
/*//////End Nav//////*/


/*///Start Home 1 Section///*/
.home1{
    background: url('../img/photo-1422479278902-8cef24992df0.jpeg') no-repeat top center;
    background-size: 100%;
    width:80%;
    padding:15% 10%;
    display: inline-block;
    text-align: center;
    }
.home1 h2{
    font: 300 50px Muli;
    letter-spacing: 2.73px;
    color: #12191F;
    max-width: 700px;
    margin: 20px auto;
    margin-bottom: 60px;
    }
.home1 h2 span{
    color: #4a90e2;
    }
.home1 a{
    color: #FFF;
    background: #4a90e2;
    font-size: 11px;
    letter-spacing: 1.94px;
    text-transform: uppercase;
    padding: 20px 30px;
    }
.home1 a:hover{
    background: #12191f;
    transition: .3s all ease-in-out;
    }
/*///End Home 1 Section///*/

/*///Start Home 2 Section///*/
.home2{
    max-width: 800px;
    margin: 0 auto;
    }
.home2 p{
    max-width: 500px;
    }
/*///End Home 2 Section///*/


/*///Start Home 3 Section///*/
.home3{
    background: url('../img/photo-1451153378752-16ef2b36ad05.jpeg') no-repeat top right;
    background-size: 100%;
    padding:10%;
    }
.home3 blockquote{
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 1.55px;
    max-width: 350px;
    float:right;
    padding-right: 5%;
    }
.home3 blockquote span{
    color: #4a90e2;
    display: block;
    }
/*///End Home 3 Section///*/


/*///Start Home 4 Section///*/
.home4 h2{
    margin-bottom: 5px;
    }
.home4 p{
    margin-top:0;
    }
.home4 h2, .home4 p{
    margin-left: 2%;
    }
.home4 .third p{
    margin: 10px 0px 3px 0px;
    }
.home4 .third p:nth-child(3){
    color: #777;
    font-size: 12px;
    letter-spacing: 1.09px;
    margin: 0;
    }
/*///End Home 4 Section///*/

/*///Start Home 5 Section///*/
.home5{
    background: url('../img/photo-1462530260150-162092dbf011.jpeg') 25% 85% no-repeat;
    background-size: 100%;
    text-align: center;
    }
.home5 h2{
    color: #FFF;
    margin-bottom: 20px;
    }
.home5 a{
    color: #fff;
    font-size:17px;
    line-height: 18px;
    letter-spacing: 1.55px;
    border: 1px solid #FFF;
    padding: 10px 40px;
    margin-top: 5px;
    display: inline-block;
    }
.home5 a:hover{
    background: #FFF;
    color: #12191f;
    transition: .3s all ease-in-out;
    }
/*///End Home 5 Section///*/

/*//////Start Footer//////*/
footer{
	width:90%;
	padding:2% 5%;
	background-color: #F9F9F9;
    border-top:1px solid #EBEBEB; 
    border-bottom:1px solid #EBEBEB;
    margin-bottom: 0px;
    display: inline-block;
	}
footer p{
    display: inline;
    font-size: .8em;
    color:#666;
    }
/*//////End Footer//////*/


/*//////Start Media Queries//////*/
@media all and (max-width:800px){
    /*Header section*/
    .logo{
        float:left;
        width: auto;
        }
    nav{
        float:right;
        width: auto;
        margin-top: 4px;
        }
    .social{
        display:none;
        }
    
    /*Home1 Section*/
    .home1 h2{
        font-size: 30px;
        max-width: 500px;
        }
    

    /*Home2 Section*/
    .home2 .half:first-child{
        display:none;
        }
    .half{
        width:96%;
        }

    /*Home3 Section*/
    .home3{
        background: #dbf1ff;
        }

    /*Home4 Section*/
    .third{
        width: 96%;
        margin-bottom: 30px;
        }
    .home4 .third:first-child{
        display: none;
        }
}
/*//////End Media Queries//////*/
